<?xml version="1.0" encoding="UTF-8"?>
<document>
    <success>0</success>
    {% if errors|default({}) is not empty %}
        <errors>
            {% for key, error in errors %}
                <{{ key }}>
                    {{ error }}
                </{{ key }}>
            {% endfor %}
        </errors>
    {% endif %}
</document>
