{% extends 'base.html.twig' %}
{% trans_default_domain 'UserBundle' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">{{ 'authorization'|trans({}, 'UserBundle')|capitalize }}</h2>
        </div>
    </div>
    {% if error %}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="alert alert-danger" role="alert">
                    {{ error.message }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form action="{{ path('user_check') }}" method="post">
                <div class="form-group">
                    <label for="username">{{ 'username'|trans }}</label>
                    <input id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="password">{{ 'password'|trans }}</label>
                    <input id="password" type="password" name="_password" class="form-control"/>
                </div>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}