{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="pager header-pager">
                <li class="previous">
                    <a href="{{ path('app_homepage') }}"><span
                                aria-hidden="true">&larr;</span>{{ 'app.back'|trans({}, 'app')|capitalize }} </a>
                    <h3 class="header-page">{{ 'registration.label'|trans({}, 'UserBundle')|capitalize }}</h3>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {{ form_start(form) }}
            {{ form_row(form.login, {'label':'form.username'|trans({}, 'UserBundle')}) }}
            {{ form_row(form.password.first, {'label':'form.password.first'|trans({}, 'UserBundle')}) }}
            {{ form_row(form.password.second, {'label':'form.password.second'|trans({}, 'UserBundle')}) }}
            {{ form_row(form.fullname, {'label':'form.full_name'|trans({}, 'UserBundle')}) }}
            {{ form_row(form.isActive, {'label':'form.active'|trans({}, 'UserBundle')}) }}
            {{ form_row(form.email, {'label':'form.email'|trans({}, 'UserBundle')|capitalize ~ '. ' ~'form.note.email'|trans({}, 'UserBundle') }) }}
            <input type="submit" class="btn btn-primary">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}